@{
    ViewBag.Title = "Регистрация";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<form class="RegAuthForm" asp-action="Registration" method="post">
    <h1>Регистрация</h1>

    <input name="login" class="form-control" type="text" placeholder="Логин"/>
    <input name="password" class="form-control" type="text" placeholder="Пароль" />

    <input class="btn btn-primary" type="submit" value="Зарегистрироваться"/>
    <a asp-action="Authorization" class="btn btn-primary mt-5">Уже зарегистрированы?</a>
</form>
